{% extends "base.html.twig" %}

{% block title %}Liste des produit de la catégorie {{ category.name }} {% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
            <h1>Liste des produits de la catégorie {{ category.name }}</h1>
            </div>
            {% for product in products %}
                <div class="col-3 mb-3">
						<div class="card" style="h-100;">
							<div class="card-body">
								<h3 class="card-title">{{ product.name}}</h3>
								<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
								<a href=" {{path('products_details',{'name':product.name})}} ">Go somewhere</a>
							</div>
						</div>
					</div>
            {% endfor %}
        </section>
    </main>
{% endblock %}