{% extends "base.html.twig" %}

{% block title %} Error 404 {% endblock %}

{% block body %}
	<main class='container'>
		<section class='row'>
			<div class='col-12'>
				<h1>Erreur 404</h1>
				<p>page recherché non trouvée</p>
			</div>
{% endblock %}